<div class="cardItens" style="display: flex; flex-wrap: wrap;">
  <img
    class="productImage"
    src="https://gmedia.playstation.com/is/image/SIEPDC/dualsense-controller-product-thumbnail-01-en-14sep21?$facebook$"
    alt="Product 1"
  />
  <div class="group-text" style="margin-right: 1rem;">
    <h2 style="margin-right: 1rem;">
      Controle Dualsense Cfi-zct2 Sem Fio Ps5 Galactic Purple
    </h2>
    <h6 style="margin-right: 1rem;">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt,
      molestiae ab exercitationem inventore, est consectetur provident assumenda
      excepturi nisi eos nobis tempora.
    </h6>
    <p style="font-weight: bold; margin-top: 2rem; font-size: 3rem;">
      R$ 469,00
    </p>

    <div>
      <!-- Botão para ligar para um número -->
      <a
        href="tel:+550000000000"
        class="btn btn-light"
        style="margin-right: 5rem;"
      >
        <img
          src="https://cdn-icons-png.flaticon.com/512/724/724664.png"
          alt="Telefone"
          style="
            width: 40px;
            height: 40px;
            margin-right: 5px;
            margin-bottom: 3px;
          "
        />
      </a>

      <a
        href="https://wa.me/550000000000?text=Olá,%20gostaria%20de%20mais%20informações."
        target="_blank"
        rel="noopener noreferrer"
        class="btn btn-light"
      >
        <img
          src="https://cdn-icons-png.flaticon.com/512/733/733585.png"
          alt="WhatsApp"
          style="
            width: 40px;
            height: 40px;
            margin-right: 5px;
            margin-bottom: 3px;
          "
        />
      </a>
    </div>
  </div>
</div>