<div class="d-flex flex-row">
  <div class="card w-100">
    <div class="card-header bg-dark text-white">
      <h3 class="font-weight-bold">Dados Pessoais</h3>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="name">Nome:</label>
          <input
            type="text"
            id="name"
            class="form-control"
            value="Adriana Prabhat Kumar"
          />
        </div>
        <div class="col-md-6">
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            class="form-control"
            value="adrianakumar@gmail.com"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="phone">Telefone:</label>
          <input
            type="tel"
            id="phone"
            class="form-control"
            value="(53)9889-1526"
          />
        </div>
        <div class="col-md-6">
          <label for="address">Endereço:</label>
          <input
            type="text"
            id="address"
            class="form-control"
            value="Rua Um, nº 123, Bairro 2"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="city">Cidade:</label>
          <input type="text" id="city" class="form-control" value="Cidade 1" />
        </div>
        <div class="col-md-6">
          <label for="state">Estado:</label>
          <input type="text" id="state" class="form-control" value="Estado 1" />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="zip">CEP:</label>
          <input type="text" id="zip" class="form-control" value="12345-678" />
        </div>
      </div>
      <div
        class="form-group"
        style="margin-left: 6rem; margin-top: 2rem; margin-bottom: 2rem"
      >
        <label>Gênero:</label>
        <div class="form-check form-check-inline">
          <input
            type="radio"
            id="male"
            name="gender"
            class="form-check-input"
            value="male"
          />
          <label for="male" class="form-check-label">Masculino</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            type="radio"
            id="female"
            name="gender"
            class="form-check-input"
            value="female"
          />
          <label for="female" class="form-check-label">Feminino</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            type="radio"
            id="other"
            name="gender"
            class="form-check-input"
            value="other"
          />
          <label for="other" class="form-check-label">Outro</label>
        </div>
      </div>
      <div
        class="form-group"
        style="display: flex; align-items: flex-start; margin-left: 6rem"
      >
        <div>
          <div class="form-check" style="margin-bottom: 1rem">
            <input type="checkbox" id="checkbox1" class="form-check-input" />
            <label for="checkbox1" class="form-check-label">
              Quero receber atualizações no meu WhatsApp
            </label>
          </div>
          <div class="form-check">
            <input type="checkbox" id="checkbox2" class="form-check-input" />
            <label for="checkbox2" class="form-check-label">
              Autorizo a receber atualizações no meu email
            </label>
          </div>
        </div>
        <div
          class="form-group text-center"
          style="margin-left: 15rem; margin-top: 2rem"
        >
          <button type="button" class="btn btn-light">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>
