.input-group {
  display: flex;
  align-items: center;
}
.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: #eee;
}
.searchInput {
  padding: 0.5rem;
  border: 1px solid #ccc;
  width: 40%;
  height: 34px;
}

.whatsappLogo {
  width: 70px;
  height: 70px;
}

.searchInput:focus {
  color: #1d1d1d;
  outline: none;

  border: 1px solid #1d1d1d;
}
.searchInput:hover {
  box-shadow: #1d1d1d 0px 0px 3px;
  border: 1px solid #1d1d1d;
}

.searchInput :focus::-webkit-input-placeholder {
  color: transparent;
}
