<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-left: 36rem;
  "
>
  <div class="input-group">
    <span class="input-group-text" id="basic-addon1">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-search"
        viewBox="0 0 16 16"
      >
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
        ></path>
      </svg>
    </span>
    <input
      type="text"
      class="searchInput"
      placeholder="Pesquise um produto"
      aria-label="Pesquise um produto"
      aria-describedby="basic-addon1"
    />
  </div>
</div>

<app-menu-items *ngIf="!tela1" (toggle)="toggleComponents()"></app-menu-items>
<app-item-component
  *ngIf="!tela2"
  (toggle)="toggleComponents()"
></app-item-component>

<div style="position: fixed; bottom: 5; right: 0">
  <img
    class="whatsappLogo"
    src="https://logospng.org/download/whatsapp/logo-whatsapp-verde-icone-ios-android-2048.png"
    alt=""
  />
</div>
